
.menu {
    background-color: #D5B0AC;  
    color: #402E2A;
    font-weight: bold;
    text-align: center;
  }
.menu span{
    position: relative;
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
}

span:hover{
    background-color: #9CD08F;
    color: white;
}
.submenu{
    display: none;
    position: relative;
}
.menu span:hover>.submenu{
    display: block;
    position: absolute;
}
.submenu span:hover>.submenu{
    display: block;
    position: absolute;
    left: 100px;
    top: 0px;
}