<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hoi nhanh</title>
</head>
<body>

    <form method="POST" action="/ask">

        <h3>Hãy hỏi cộng đồng một câu hỏi đúng/ sai hoặc có/ không</h3>
        <textarea  name="question" id="textInput" cols="60" rows="10" maxlength="200"></textarea>
        <p id="remain">Còn 200/200 kí tự</p>
        <button type="submit">Gửi</button>
    </form>
    <script src="./ask.js"></script>
</body>
</html>